<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>

  <meta name="author" content="Josh Vega" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/gridism.css" />
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <div class="grid wrap wider">
    <div class="whole unit">
      <h1 id="name"><a href="/">Josh Vega</a></h1>
      <h2 id="tagline"><em>Computer Science, NJIT 2019</em></h2>
      <hr />
      <div id="navbar">
        <p class="navbar-link"><a href="/">Home</a></p>
        <p class="navbar-link"><a href="/about">About</a></p>
        <p class="navbar-link"><a href="https://twitter.com/jsvcycling">Twitter</a></p>
        <p class="navbar-link"><a href="https://github.com/jsvcycling">GitHub</a></p>
        <p class="navbar-link"><a href="https://linkedin.com/in/jsvcycling">LinkedIn</a></p>
      </div>
      <hr />

      {{ content }}
    </div>
  </div>
</body>
</html>
