<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}Josh Vega</title>

  <meta name="author" content="Josh Vega" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/gridism.css" />
  <link rel="stylesheet" href="/css/main.css" />

  <!-- Google Analytics -->
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-29967335-1', 'auto');
	  ga('send', 'pageview');
  </script>
</head>
<body>
  <div class="grid wrap wider">
    <div class="whole unit">
      <h1 id="name"><a href="/">Josh Vega</a></h1>
      <h2 id="tagline"><em>Computer Science, NJIT 2019</em></h2>
      <hr />
      <div id="navbar">
        <p class="navbar-link"><a href="/">Home</a></p>
        <p class="navbar-link"><a href="/about">About</a></p>
        <p class="navbar-link"><a href="https://twitter.com/jsvcycling">Twitter</a></p>
        <p class="navbar-link"><a href="https://github.com/jsvcycling">GitHub</a></p>
        <p class="navbar-link"><a href="https://linkedin.com/in/jsvcycling">LinkedIn</a></p>
      </div>
      <hr />

      <div id="post_content">
        <h1>{{ page.title }}</h1>
        <p><strong>{{ page.date | date: '%d %B, %Y' }}</strong></p>
        {{ content }}
      </div>

      <div id="footer">
        <hr />
        <p>Copyright &copy; 2016 Joshua Vega. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</body>
</html>
