<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% endif %}Joshua S. Vega</title>

  <meta name="author" content="Joshua Vega" />

  <link rel="stylesheet" href="/css/normalize.css" />
  <link rel="stylesheet" href="/css/gridism.css" />
  <link rel="stylesheet" href="/css/main.css" />

  <!-- MathJAX -->
  <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
</head>
<body>
  <div class="grid wrap wider">
    <div class="whole unit">
      <h1 id="name"><a href="/">Joshua S. Vega</a></h1>
      <hr />
      <div id="navbar">
        <p class="navbar-link"><a href="/">Home</a></p>
        <!-- <p class="navbar-link"><a href="/about">About</a></p> -->
        <p class="navbar-link"><a href="/cv">CV</a></p>
        <p class="navbar-link"><a href="https://twitter.com/jsvcycling" target="_blank">Twitter</a></p>
        <p class="navbar-link"><a href="https://github.com/jsvcycling" target="_blank">GitHub</a></p>
        <p class="navbar-link"><a href="https://linkedin.com/in/jsvcycling" target="_blank">LinkedIn</a></p>
      </div>
      <hr />

      <div id="post_content">
        <h1>{{ page.title }}</h1>
        <p><strong>{{ page.date | date: '%d %B, %Y' }}</strong></p>
        {{ content }}
      </div>

      <div id="footer">
        <hr />
        <p>Copyright &copy; 2016-2019 Joshua S. Vega. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</body>
</html>
